.skills-title {
  width: max-content;
  margin: auto;
}
.skills-title h2 {
  color: #45505b;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  border-bottom: 5px dotted #6a7393;
  padding-bottom: 10px;
  
}
.skills-title p {
  color: #272e32;
  margin-bottom: 30px;
}

.skills {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.pbar {
  font-weight: bold;
  color: darkcyan;
  margin-right: 10px;
}
