.contact-us {
  padding: 70px 0px;
  background: #f5fbff;
}
.contact-title h2 {
  color: #45505b;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  border-bottom: 5px solid #6a7393;
  padding-bottom: 10px;
  
}
.contact-title p {
  color: #e8e8e8;
  margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
  background: #fafafa;
}
.contact-us textarea {
  min-height: 188px;
  max-width: 100%;
}
.contact-us .map {
  overflow: hidden;
  border-radius: 4px;
}